@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");
html {
  font-family: "Ubuntu Mono", sans-serif;
}
.cursor {
  display: inline-block;
  position: relative;
}
.cursor::after {
  content: "";
  margin: auto;
  position: absolute;
  right: -4px;
  top: -3px;
  width: 1px;
  height: 100%;
  background-color: #666;
  animation: cursor-animation 1.5s step-end infinite;
}

.row-gap-1 {
  row-gap: 1em;
}
.col-gap-1 {
  column-gap: 1em;
}
.flex-basis-24 {
  flex-basis: 24em;
}
.clear {
  clear: both;
  height: 4em;
}
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: lightgray whitesmoke;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: whitesmoke;
}

*::-webkit-scrollbar-thumb {
  background-color: lightgray;
}
